code {
    font-family: 'Roboto Mono', monospace;
}

* {
    box-sizing: border-box;
}

body,
html {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.particles {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

body {
    margin: 0;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgba(79, 24, 0, 0.545);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

h3 {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-weight: 400;
    color: #67d4b1;
    text-shadow: 0 0 4px #1d372f;
}

h1 {
    padding: 1.5rem 2rem 0rem 2rem;
    margin: 0 auto;
    color: #72cfb1;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.container {
    background-color: rgba(255, 255, 255, 0.151);
    backdrop-filter: blur(5px);
    min-height: 90vh;
    max-width: 600px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.overlay {
    min-width: 90vw;
}

main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.question .btn-answer {
    background-color: #5bad93;
    padding: .7rem 1.2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgb(4, 30, 60);
    font-size: .95rem;
    flex-grow: 1;
    transition: 500ms;
    cursor: pointer;
}

.question .btn-answer:active,
.btn-answer:focus,
.btn-answer:target,
button:focus {
    outline: 2px solid #72cfb1;
    background-color: #3e7a67;
    /* azure, 50% opacity */
}

.question .btn-answer:hover,
button:hover {
    background-color: #3e7a67;
    box-shadow: 2px 2px 4px black;
}

.question {
    border-bottom: 1px solid black;
    margin: 1rem;
    padding: .5rem 1.5rem 2.5rem 1.5rem;
    width: 100%;
}

.question h2 {
    white-space: pre-line;
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 0.9rem;
    padding: 0;
    color: #7de4c4;
    text-shadow: 0 0 4px black;
}

.buttons {
    display: flex;
    align-items: stretch;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: .9rem;
    margin-top: 1.5rem;
}

.start-game,
.check-answers {
    padding: 1rem 2.2rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    background-color: #084760;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.307);
    transition: 500ms;
    margin-top: 2rem;
    color: #84eccb;
    font-family: 'Roboto Mono', monospace;
    cursor: pointer;
}

.start-game:hover,
.start-game:active,
.start-game:focus,
.check-answers:hover,
.check-answers:active,
.check-answers:focus {
    background-color: #06374a;
    box-shadow: 2px 2px 14px rgba(0, 0, 0, 0.541);
}

#game-over {
    text-align: center;
    color: #ff5757;
    text-shadow: 2px 2px 14px rgba(0, 0, 0, 0.541);
}